.book-details {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.book-details__back {
    display: block;
    text-decoration: none;
    color: black;
    margin: 15px 0 30px;
}

.book-details__title { font-size: 3em; }
.book-details__text { font-size: 1.5em; }
.book-details__image { margin: 0 0 15px; }

.book-details__image img {
    width: 100%;
    max-width: 508px;
}

@media screen and (min-width: 100px) and (max-width: 767px) {
    .book-details {
        width: 100%;
        padding: 0 10px;
    }

    .book-details__title { font-size: 2.5em; }

    .book-details__image img {
        width: 100%;
        max-width: 484px;
    }
}
